body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    background-image: url('./imgs/bg04.jpg');
    background-size: 100% auto;

    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    scroll-snap-type: y mandatory;
    overflow: hidden;
    height: 100vh;
    user-select: none;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh; /* 화면 크기 맞춤 */
    display: flex;
    justify-content: center;
    align-items:start;
    font-size: 4vmax;
    border-bottom: 0px solid #ddd;
    color: rgb(255, 255, 255);
}

/* 패널 1 ------------------------------------------------------------------------*/
.mainPanel {
    margin-top: 1vmax;
    align-items: center;
    text-align: center;
}
.mainTitle_pc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainTitle_m {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainTitle_pc p {
    width: 80%;
    font-size: 3.3vmax; /* 텍스트 크기 설정 */
    font-weight: 500;
    line-height: 140%;
    color: rgb(255, 255, 255);
    margin: 0;
}
#small-icon {
    font-size: 0.8em; /* 크기를 조정 */
    position: relative;
    top: -4px; /* 아이콘을 살짝 위로 이동 */
}
#small-icon_m {
    line-height: 150%;
    font-size: 1.5em; /* 크기를 조정 */
    position: relative;
}



.mainGraphics {
    margin-top: 2vmax;
    display: flex;
    justify-content: space-between;
}

 /* 메인 왼쪽 버튼 그래픽--------------------------- */
.left-graphics {
    margin-top: 5vmax;
    width: 20vmax;
    font-size: 1.7vmax;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items:end; /* 세로 가운데 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 정렬하려면 사용 */
}
#onlineButton {
    width: 15vmax; 
    height: 5vmax; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin-top: 3vmax; 
    border:0.1vmax solid white;
    background-color: black;
    color: white;
}
#onlineButton:hover {
    color: black;
    background-color: white;
}
#small-icon2 {
    font-size: 1.7vmax; /* 크기를 조정 */
    position: relative;
    top: -1px; /* 아이콘을 살짝 위로 이동 */
}

#interactionBusinessIcon {width: 15vmax; height: 3vmax; align-items: center; justify-content: center; background-size: contain; background-repeat: no-repeat; background-image: url(./imgs/btn/Green.png);}
#DigitalProjectIcon {margin-top: 3vmax; width: 15vmax; height: 3vmax; align-items: center; justify-content: center; background-size: contain; background-repeat: no-repeat; background-image: url(./imgs/btn/Blue.png);}
#brandManagementIcon {margin-top: 3vmax; width: 15vmax; height: 3.1vmax; align-items: center; justify-content: center; background-size: contain; background-repeat: no-repeat; background-image: url(./imgs/btn/yellow.png);}
#visualProjectIcon {margin-top: 3vmax; width: 15vmax; height: 3vmax; align-items: center; justify-content: center; background-size: contain; background-repeat: no-repeat; background-image: url(./imgs/btn/pink.png);}




 /* 메인 가운데 그래픽 추후 인터렉션 추가---------------------------- */
.main-graphic {
    width: 60vmax;
    position: relative;
}
.mainGraphicPos{
    position: absolute; 
    margin-left: auto; 
    margin-right: auto; 
    left: 0; right: 0; 
    text-align: center; 
    width: 60vmax; 
    height: 46vmax; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

#graphicTop{height:46.27vmax; background-image: url(./imgs/mainGraphics/Artboard_bg.png); z-index: 100;}
#graphicName{background-image: url(./imgs/mainGraphics/web_Name0.png);}
#graphicGradient{background-image: url(./imgs/mainGraphics/web_Gradiant0.png);z-index: 99;}
#graphicCenter{background-image: url(./imgs/mainGraphics/web_Center0.png);}
#digitalProject_Graphic{ background-image: url(./imgs/mainGraphics/Artboard_blue.png);}
#interactionBusiness_Graphic{ background-image: url(./imgs/mainGraphics/Artboard_green.png);}
#visualProject_Graphic{ background-image: url(./imgs/mainGraphics/Artboard_pink.png);}
#brandManagement_Graphic{ background-image: url(./imgs/mainGraphics/Artboard_yellow.png);}


 /* 메인 오른쪽 텍스트------------------------------------ */
.right-text {
    margin-top: 5vmax;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: left; /* 세로 가운데 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 정렬하려면 사용 */

    width: 20vmax;
    font-size: 1vmax;
    text-align: left;
}
#textTitle01 {
    font-size: 1.5vmax;
    font-weight: 500;
}
#textTitle02 {
    font-size: 3.3vmax;
    font-weight: 700;
}
#text01 {
    margin-top: -1.2vmax;
    font-size: 1vmax;
    font-weight: 300;
}

#textTitle03 {
    margin-top: -2vmax;
    font-size: 1.5vmax;
    font-weight: 500;
}



#panel2_img01 {
    width: 80vmax;
    height: 40vmax;
    position: relative;
    left: -5vmax;
    top: 12vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./imgs/panel2_img00.png);
}
#panel2_img02 {
    width: 120vmax;
    height: 30vmax;
    position:relative;
    left: -26vmax;
    top: 24vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./imgs/panel2_img02.png);
}

#credit_img01 {
    width: 65vmax;
    height: 40vmax;
    position:relative;
    left: 12.5vmax;
    top: 12vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./imgs/credit_img01.png);
}

.panel4 {
        scroll-snap-align: start;
        width: 100%;
        height: 100vh; /* 화면 크기 맞춤 */
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        text-align: center;
        position: relative;
        border-bottom: 0px solid #ddd;
        color: rgb(255, 255, 255);
}
#panel4_img01 {
    width: 60vmax;
    height: 24vmax;
    position:absolute;
    bottom: 4vmax;
    left: 8vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./imgs/panel4_img01.png);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:left;
}
.link-divAll {display: flex;
    width: 50vmax;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    border:0.1vmax solid rgb(255, 255, 255);
}
.link-div {
    margin-top: 2vmax;
    margin-left: 2.5vmax;
    margin-right: -2vmax;
    font-weight: 600;
    font-size: 1.5vmax;
    width: 10vmax;

    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;

    border:0.1vmax solid rgb(255, 255, 255);
}

.link-div p {
    margin:0;
}
.link-div :hover {
    margin:0;
    border:0.1vmax solid rgb(0, 0, 0);
    background-color: #000000;
    color: #ffffff;
}



#bottomText {
    padding-top: 1vmax; 
    margin-bottom: auto; 
    text-align: center;
    width: 100%;
    height: 5vmax;
    background-color: #000000;
    position: absolute;
    bottom: 0vmax;
    font-size: 1vmax;
    color: rgb(255, 255, 255);
}






 /* 위로가기 버튼 */
#backToTop {
    z-index: 999;
    position: fixed;
    bottom: 1vmax;
    right: 2vmax;
    background-image:url(./imgs/button_img01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4vmax;
    height: 5vmax;
    border: none;
    cursor: pointer;
    display: none; /* 기본적으로 숨김 */
    background-color: #ffffff00;
    background-blend-mode: difference;
}

#backToTop:hover {
    filter: invert(1);
}


.maintitle_m2{display: none;}
#textTitle02_m{display: none;}
#textTitle03_m{display: none;}
.noNobile{display: flex;}
#scrollImage{display: none;}

 /* 반응형 세팅 */
@media (max-width: 800px) {
    .noNobile{display: none;}
    .mainTitle_m {
        margin-top: 4vmin;
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .maintitle_m2 {
        display: flex;
        font-size: 10vmin;
        font-weight: 550;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .mainTitle_m p {
        width: 100vw;
        font-size: 6.5vmin; /* 텍스트 크기 설정 */
        font-weight: 550;
        line-height: 140%;
        color: rgb(255, 255, 255);
        margin: 0;
    }

    #scrollImage {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 70vmax;
        left: 0vmin;
        background-image: url(./imgs/mainGraphics/Artboard_m2.png);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.5s ease, opacity 0.5s ease;
        opacity: 1;
        top: 120vmin;
        transform: translateY(0); /* 기본적으로 위치는 0 */
    }
    body {
        background-color: black;
        background-image: url();
        scroll-snap-type: y mandatory;
        overflow: auto;
        overflow-x: hidden;
        user-select: none;
        background-attachment: scroll;
        transition: background-position 0.1s ease, opacity 0.1s ease;
        opacity: 1;
    }
    .mainGraphics {
        margin-top: 10vmin;
        display: flex;
        justify-content: center;
    }


    .left-graphics {
        display: none;
    }
    #onlineButton_m{
        font-size: 5vmin;
        font-weight: 500;
        margin: 0 auto;
        width: 50vmin; 
        height: 12vmin; 
        display: flex;
        justify-content: space-evenly; 
        align-items: center; 
        margin-top: 3vmax; 
        border:0.1vmax solid white;
        background-color: black;
        color: white;
    }
    #onlineButton_m:active{background-color: #ffffff;color: #000000;}

    .right-text {
        margin-top: -4vmax;
        width: 100vw;
        font-size: 1vmax;
        text-align: center;
        position: relative;
        display: block;
        justify-content: space-around;
    }
    #textTitle01 {

        font-size: 4.5vmin;
        font-weight: 500;
    }
    #text01 {

        margin-top: -4vmin;
        font-size: 3.3vmin;
        font-weight: 250;
    }
    
    #textTitle02_m {
        margin: 0 auto;
        width: 100vmin;
        text-align: center;
        display: block;
        font-size: 6vmin;
        font-weight: 700;
    }
    #textTitle03_m {
        margin: 0 auto;
        width: 100vmin;
        text-align: center;
        display: block;
        font-size: 4vmin;
        font-weight: 300;
    }
.panel{width: 100vmin; display: flex;}
    #panel2_img01 {
        width:90vmin;
        height: 100vmin;
        position:relative;
        left:0vmin;
        top: 12vmax;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(./imgs/panel2_img00_m.png);
    }
    #credit_img01 {
        width: 90vmin;
        height: 120vmin;
        position:relative;
        left: 0vmin;
        top: 12vmax;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(./imgs/credit_img01_m.png);
    }
    
    .panel4 {
            scroll-snap-align: start;
            width: 100vw;/* 화면 크기 맞춤 */
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            text-align: center;
            position: relative;
            border-bottom: 0px solid #ddd;
            color: rgb(255, 255, 255);
    }
    #panel4_img01 {
        width: 90vmin;
        height: 120vmin;
        position:relative;
        bottom: 4vmin;
        left: 0vmin;
        top: 40vmin;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(./imgs/panel4_img01_m.png);
        display: flex;
        text-align: left;
        align-items:flex-start;
        justify-content:left;
        flex-direction: column;
    }
    .link-div {
        margin-block-start:10vmin ;
        font-weight: 600;
        font-size: 4vmin;
        width: 30vmin;
        cursor: pointer;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-align: left;
        align-items: center;
        justify-content: center;
        border:0.1vmax solid rgb(255, 255, 255);
    }
    .link-divAll {
        margin-top: 20vmin;
        margin-left:4vmin ;
        display: block;
        width: 20vmin;
        font-weight: 600;
        cursor: pointer;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-align: left;
        align-items: center;
        justify-content: left;
        border:0.1vmax solid rgb(255, 255, 255);
    }
    
    .link-div p {
        margin:0;
    }
    .link-div :hover {
        margin:0;
        border:0.1vmax solid rgb(0, 0, 0);
        background-color: #000000;
        color: #ffffff;
    }

    #backToTop {
        z-index: 999;
        position: fixed;
        bottom: 3.5vmax;
        right: 2vmax;
        background-image:url(./imgs/button_img01.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 5vmax;
        height: 5vmax;
        border: none;
        cursor: pointer;
        display: none; /* 기본적으로 숨김 */
        background-color: #ffffff00;
        background-blend-mode: difference;
    }
}
